@using EITParcelDelivery.Models
@model SendParcelViewModel

@{
    Layout = "~/Views/Shared/PageLayout.cshtml";
    ViewBag.Title = "Send parcel";
}

<div>
    <h1>@ViewBag.Title</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(x => x.Weight)
            @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", placeholder = "Weight", id = "weight", @type = "number" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Source)
            @Html.DropDownListFor(x => x.Source, new SelectList(@Model.getCityNames()), new { @class = "form-control", id = "source" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Destination)
            @Html.DropDownListFor(x => x.Destination, new SelectList(@Model.getCityNames()), new { @class = "form-control", id = "destination" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Type)
            @Html.DropDownListFor(x => x.Type, new SelectList(@Model.getCityNames()), new { @class = "form-control", id = "type" })
        </div>

        <button id="sendButton" type="submit" class="btn btn-primary btn-lg">Find routes</button>
    }
</div>