@using EITParcelDelivery.Models
@model LoginViewModel



@{
    Layout = "~/Views/Shared/IndexLayout.cshtml";
    ViewBag.Title = "Log into dashboard";
}

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h2>Track parcel</h2>
        <div class="tracking-container">
            <br /><br /><br /><br />
            <div class="form-group">
                <input type="text" class="form-control" id="trackingNumber" placeholder="Enter tracking number..">
            </div>
            <button id="trackingButton" type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-2">
            <h2>Log into dashboard</h2>
            <div class="login-container">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(x => x.Username)
                        @Html.TextBoxFor(x => x.Username, new {@class = "form-control", placeholder = "Username", id = "username"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        @Html.PasswordFor(x => x.Password, new {@class = "form-control", placeholder = "Password", id = "password"})
                    </div>
                    <button id="loginButton" type="submit" class="btn btn-primary btn-lg">Login</button>
                }
            </div>
    </div>
</div>






@section scripts {
    <script type="text/javascript">
        $("#loginButton").click(function(event) {
            event.preventDefault();
            var user = $("#username").val();
            var pass = $("#password").val();
            $.ajax({
                url: "@Url.Action("Login", "Login")",
                type: "GET",
                data: { username: user, password: pass },
                success: function(id) {
                    if (id === 0) {
                        alert("Error");
                    } else {
                        var url = '@Url.Action("Index", "SendParcel", new { id = "__id__" })';
                        window.location.href = url.replace('__id__', id);
                    }
                },
                error: function(error) {
                    alert(result);
                }
            });
        })
    </script>
}