@using EITParcelDelivery.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/IndexLayout.cshtml";
    ViewBag.Title = "Log into dashboard";
}
<h2>@ViewBag.Title</h2>

<div class="login-box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username", id = "username" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password", id = "password" })
        </div>
        <button id="loginButton" type="submit" class="btn btn-primary btn-lg">Login</button>
    }
</div>


@section scripts {
    <script type="text/javascript">
        $("#loginButton").click(function(event) {
            event.preventDefault();
            var user = $("#username").val();
            var pass = $("#password").val();
            $.ajax({
                url: "@Url.Action("Login", "Login")",
                type: "GET",
                data: { username: user, password: pass },
                success: function(id) {
                    if (id === 0) {
                        alert("Error");
                    } else {
                        var url = '@Url.Action("Index", "SendParcel", new { id = "__id__" })';
                        window.location.href = url.replace('__id__', id);
                    }
                },
                error: function(error) {
                    alert(result);
                }
            });
        })
    </script>
}